StratmasServer/tools/StratmasDispatcher/schemas/stratmasProtocol.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	    xmlns:sp="http://pdc.kth.se/stratmasNamespace"
	    targetNamespace="http://pdc.kth.se/stratmasNamespace">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      A test schema for the Stratmas client server protocol
    </xsd:documentation>
  </xsd:annotation>

  <xsd:include schemaLocation="taclan2sim.xsd"/> 
  <xsd:include schemaLocation="subscription.xsd"/> 
  <xsd:include schemaLocation="processVariables.xsd"/> 


  <xsd:element name="stratmasMessage" type="sp:StratmasMessage"/>
  <xsd:element name="root" type="sp:Root"/>

  <!-- Messages -->
  
  <xsd:complexType name="StratmasMessage" abstract="true">
  </xsd:complexType> 


  <!-- Client -> Server Messages -->

  <xsd:complexType name="ConnectMessage">
    <xsd:complexContent> 
      <xsd:extension base="sp:StratmasMessage">
        <xsd:sequence>   
      	  <xsd:element name="bigEndian" type="xsd:boolean"/>
	</xsd:sequence>    
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType> 

  <xsd:complexType name="DisconnectMessage">
    <xsd:complexContent> 
      <xsd:extension base="sp:StratmasMessage">
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType> 

  <xsd:complexType name="ServerCapabilitiesMessage">
    <xsd:complexContent> 
      <xsd:extension base="sp:StratmasMessage">
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType> 
  
  <xsd:complexType name="InitializationMessage">
    <xsd:complexContent> 
      <xsd:extension base="sp:StratmasMessage">
        <xsd:sequence>   
      	  <xsd:element name="simulation" type="sp:Simulation"/>
	</xsd:sequence>    
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType> 
  
  <xsd:complexType name="GetGridMessage">
    <xsd:complexContent> 
      <xsd:extension base="sp:StratmasMessage">
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType> 
  
  <xsd:complexType name="RegisterForUpdatesMessage">
    <xsd:complexContent> 
      <xsd:extension base="sp:StratmasMessage">
        <xsd:sequence>   
      	  <xsd:element name="register" type="xsd:boolean"/>	
	</xsd:sequence>    
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType> 
  
  <xsd:complexType name="SubscriptionMessage">
    <xsd:complexContent> 
      <xsd:extension base="sp:StratmasMessage">
        <xsd:sequence>   
      	  <xsd:element name="subscription" type="sp:Subscription" minOccurs="1" maxOccurs="unbounded"/>	
	</xsd:sequence>    
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType> 

  <xsd:complexType name="StepMessage">
    <xsd:complexContent> 
      <xsd:extension base="sp:StratmasMessage">
        <xsd:sequence>   
      	  <xsd:element name="numberOfTimesteps" type="xsd:nonNegativeInteger"/>	
      	  <xsd:element name="detached" type="xsd:boolean" minOccurs="0"/>	
	</xsd:sequence>    
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType> 
  
  <xsd:complexType name="UpdateServerMessage">
    <xsd:complexContent>
      <xsd:extension base="sp:StratmasMessage">
        <xsd:sequence>
      	  <xsd:element name="update" type="sp:ServerUpdate" minOccurs="0" maxOccurs="unbounded"/>
	</xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="ServerUpdate" abstract="true">
    <xsd:sequence>
      <xsd:element name="reference" type="sp:Reference"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ServerUpdateAdd">
    <xsd:complexContent>
      <xsd:extension base="sp:ServerUpdate">
        <xsd:sequence>
      	  <xsd:element name="identifiable" type="sp:Identifiable"/>
	</xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ServerUpdateRemove">
    <xsd:complexContent>
      <xsd:extension base="sp:ServerUpdate">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ServerUpdateReplace">
    <xsd:complexContent>
      <xsd:extension base="sp:ServerUpdate">
        <xsd:sequence>
      	  <xsd:element name="newObject" type="sp:Identifiable"/>
	</xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ServerUpdateModify">
    <xsd:complexContent>
      <xsd:extension base="sp:ServerUpdate">
        <xsd:sequence>
	  <xsd:element name="newValue" type="sp:ValueType"/>
	</xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <xsd:complexType name="ResetMessage">
    <xsd:complexContent> 
      <xsd:extension base="sp:StratmasMessage">
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType> 
  
  <xsd:complexType name="SetPropertyMessage">
    <xsd:complexContent> 
      <xsd:extension base="sp:StratmasMessage">
        <xsd:sequence>   
	  <xsd:element name="property" type="xsd:string"/>	
          <xsd:element name="value" type="xsd:string"/>	
        </xsd:sequence>   
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType> 


  <!-- Server -> Client messges -->

  <xsd:complexType name="ConnectResponseMessage">
    <xsd:complexContent> 
      <xsd:extension base="sp:StratmasMessage">
        <xsd:sequence>   
      	  <xsd:element name="active" type="xsd:boolean"/>
	</xsd:sequence>    
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType> 

  <xsd:complexType name="GetGridResponseMessage">
    <xsd:complexContent> 
      <xsd:extension base="sp:StratmasMessage">
        <xsd:sequence>   
      	  <xsd:element name="gridData" type="sp:Grid"/>
	</xsd:sequence>    
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType> 

  <xsd:complexType name="Grid">
    <xsd:sequence>
      <xsd:element name="numberOfRows" type="xsd:integer"/>
      <xsd:element name="numberOfCols" type="xsd:integer"/>
      <!-- Base64 encoded array of doubles where the first element is
      	   the position of the top left corner of the top left cell and the
      	   last element is the bottom right corner of the bottom right
      	   cell. -->
      <xsd:element name="positionData" type="xsd:base64Binary"/>

      <!-- Base64 encoded array of octets where an octet value of 0 means
      	   inactive and 1 active. The first element represents the top left
      	   cell and the last element the bottom right cell. -->
      <xsd:element name="activeCells" type="xsd:base64Binary"/>
      <xsd:element name="regionData" type="sp:RegionData" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType> 

  <xsd:complexType name="RegionData">
    <xsd:sequence>   
      <xsd:element name="reference" type="sp:Reference"/>
      <!-- Base64 encoded array of 32 bit integers representing
	   the indices (in the active cells array) of the cells that
	   the region contains -->
      <xsd:element name="cells" type="xsd:base64Binary"/>
    </xsd:sequence>    
  </xsd:complexType> 

  <xsd:complexType name="StatusMessage">
    <xsd:complexContent> 
      <xsd:extension base="sp:StratmasMessage">
        <xsd:sequence>   
      	  <xsd:element name="type" type="xsd:string"/>	
      	  <xsd:element name="error" type="sp:Error" minOccurs="0" maxOccurs="unbounded"/>	
	</xsd:sequence>    
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType> 

  <xsd:complexType name="Error">
    <xsd:sequence>   
      <xsd:element name="type" type="sp:ErrorType"/>	
      <xsd:element name="description" type="xsd:string"/>	
    </xsd:sequence>    
  </xsd:complexType> 

  <xsd:simpleType name="ErrorType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="warning"/>
      <xsd:enumeration value="general"/>
      <xsd:enumeration value="fatal"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="ServerCapabilitiesResponseMessage">
    <xsd:complexContent> 
      <xsd:extension base="sp:StratmasMessage">
        <xsd:sequence>   
      	  <xsd:element name="processVariables" type="sp:ProcessVariableDescriptionSet"/>
	</xsd:sequence>    
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType> 
  
  <xsd:complexType name="UpdateClientMessage">
    <xsd:complexContent> 
      <xsd:extension base="sp:StratmasMessage">
        <xsd:sequence>   
      	  <xsd:element name="simulationTime" type="sp:Timestamp"/>	
      	  <xsd:element name="update" type="sp:Update" minOccurs="0" maxOccurs="1"/>	
      	  <xsd:element name="subscribedData" type="sp:SubscribedData" minOccurs="0" maxOccurs="unbounded"/>	
	</xsd:sequence>    
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType> 
  
  <xsd:complexType name="Update" abstract="true">
    <xsd:attribute name="identifier" type="sp:Identifier" default=""/>
  </xsd:complexType>

  <xsd:complexType name="UpdateScope">
    <xsd:complexContent>
      <xsd:extension base="sp:Update">
       	<xsd:sequence>
          <xsd:element name="update" type="sp:Update" minOccurs="1" maxOccurs="unbounded"/>
	</xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateRemove">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        The identifier for this is the identifier of the removed object.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="sp:Update">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateAdd">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        The identifier for this is the identifier of the added object.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="sp:Update">
       	<xsd:sequence>
          <xsd:element name="identifiable" type="sp:Identifiable"/>
       	</xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateReplace">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        The identifier for this is the identifier of the replaced object.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="sp:Update">
       	<xsd:sequence>
	  <xsd:element name="newObject" type="sp:Identifiable"/>
       	</xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateModify">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        The identifier for this is the identifier of the modified object.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="sp:Update">
       	<xsd:sequence>
	  <xsd:element name="newValue" type="sp:ValueType"/>
       	</xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- Dispatcher -> Server Messages -->

  <xsd:complexType name="LoadQueryMessage">
    <xsd:complexContent> 
      <xsd:extension base="sp:StratmasMessage">
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType> 


  <!-- Server -> Dispatcher messges -->

  <xsd:complexType name="LoadQueryResponseMessage">
    <xsd:complexContent> 
      <xsd:extension base="sp:StratmasMessage">
        <xsd:sequence>   
      	  <xsd:element name="hasActiveClient" type="xsd:boolean"/>
      	  <xsd:element name="simulation" type="sp:Identifier" minOccurs="0" maxOccurs="unbounded"/>
	</xsd:sequence>    
      </xsd:extension>
    </xsd:complexContent> 
  </xsd:complexType> 


</xsd:schema> 
