schemas/stratmasProtocol/taclan2sim.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:sp="http://pdc.kth.se/stratmasNamespace"
  targetNamespace="http://pdc.kth.se/stratmasNamespace">

  <!-- For xml:base attribute of Identifiable -->
  <xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      This is a schema defining the correspondence between a Stratmas
      client and server on initialization of a scenario.
    </xsd:documentation>
  </xsd:annotation>

  <xsd:complexType name="Root">
    <xsd:sequence>
      <xsd:element name="identifiables" type="sp:Identifiable" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Simulation" abstract="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        This element represents all the server needs to know to start a
        simulation.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="sp:ComplexType">
        <xsd:sequence>
          <xsd:element name="timeStepper" type="sp:TimeStepper"/>
          <xsd:element name="gridPartitioner" type="sp:GridPartitioner"/>
          <xsd:element name="scenario" type="sp:Scenario"/>
          <xsd:element name="startTime" type="sp:Timestamp"/>
          <xsd:element name="randomSeed" type="sp:NonNegativeInteger" minOccurs="0"/>
          <xsd:element name="modelParameters" type="sp:ModelParameters" minOccurs="0"/>
          <xsd:element name="parameters" type="sp:ParameterGroup" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CommonSimulation">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="sp:Simulation">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TimeStepper" abstract="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        This element contains the information needed to decide the next timestep.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="sp:ComplexType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ConstantStepper">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        This derivation of timestepper takes constant sized steps.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="sp:TimeStepper">
        <xsd:sequence>
          <xsd:element name="dt" type="sp:Duration"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GridPartitioner" abstract="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        This type contains the information needed to decide a
        partitioning into cells of the map.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="sp:ComplexType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SquarePartitioner">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        This derivation of GridPartitioner partitions the map into
        square cells of the specified size.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="sp:GridPartitioner">
        <xsd:sequence>
          <xsd:element name="cellSizeMeters" type="sp:Double"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ParameterGroup">
    <xsd:complexContent>
      <xsd:extension base="sp:ComplexType">
        <xsd:sequence>
          <xsd:element name="parameterGroups" type="sp:ParameterGroup" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="parameters" type="sp:SimpleType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ModelParameters">
    <xsd:complexContent>
      <xsd:extension base="sp:ComplexType">
        <xsd:sequence>
          <xsd:element name="fractionPotentialInsurgents" type="sp:Double"/>
          <xsd:element name="insurgentDisaffectionThreshold" type="sp:Double"/>
          <xsd:element name="insurgentGenerationCoefficient" type="sp:Double"/>
          <xsd:element name="insurgentStrengthFactor" type="sp:Double"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Scenario" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="sp:ComplexType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CommonScenario">
    <xsd:complexContent>
      <xsd:extension base="sp:Scenario">
        <xsd:sequence>
          <xsd:element name="activities" type="sp:ActorLessActivity" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="map" type="sp:Shape"/>
          <xsd:element name="regions" type="sp:Region" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="disease" type="sp:Disease"/>
          <xsd:element name="populationCenters" type="sp:Population" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="militaryUnits" type="sp:MilitaryUnit" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="agencyTeams" type="sp:AgencyTeam" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="factions" type="sp:Faction" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="HDI" type="sp:Double"/>
          <xsd:element name="unemployment" type="sp:Double"/>
          <xsd:element name="path" type="sp:PathGraph" minOccurs="0"/>
          <xsd:element name="graphs" type="sp:EffectGraph" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Region">
    <xsd:complexContent>
      <xsd:extension base="sp:ComplexType">
        <xsd:sequence>
          <xsd:element name="area" type="sp:Reference"/>
          <xsd:element name="fractionArableLand" type="sp:Double"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Disease">
    <xsd:complexContent>
      <xsd:extension base="sp:ComplexType">
        <xsd:sequence>
          <xsd:element name="description" type="sp:String"/>
          <xsd:element name="infectionRate" type="sp:Double"/>
          <xsd:element name="recoveryRate" type="sp:Double"/>
          <xsd:element name="mortalityRate" type="sp:Double"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Shape" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="sp:ValueType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Composite">
    <xsd:complexContent>
      <xsd:extension base="sp:Shape">
        <xsd:sequence>
          <xsd:element name="shapes" type="sp:Shape" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Hole">
    <xsd:complexContent>
      <xsd:extension base="sp:Composite">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Circle">
    <xsd:complexContent>
      <xsd:extension base="sp:Shape">
        <xsd:sequence>
          <xsd:element name="radius" type="sp:Double"/>
          <xsd:element name="center" type="sp:Point"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Segmented">
    <xsd:complexContent>
      <xsd:extension base="sp:Shape">
        <xsd:sequence>
          <xsd:element name="curves" type="sp:Curve" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Polygon">
    <xsd:complexContent>
      <xsd:extension base="sp:Segmented">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Curve" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="sp:ComplexType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Line">
    <xsd:complexContent>
      <xsd:extension base="sp:Curve">
        <xsd:sequence>
          <xsd:element name="p1" type="sp:Point"/>
          <xsd:element name="p2" type="sp:Point"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Point">
    <xsd:complexContent>
      <xsd:extension base="sp:ComplexType">
        <xsd:sequence>
          <xsd:element name="lat" type="xsd:double"/>
          <xsd:element name="lon" type="xsd:double"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FactionMembership" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="sp:ComplexType">
        <xsd:sequence>
          <xsd:element name="faction" type="sp:FactionReference"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Ethnic">
    <xsd:complexContent>
      <xsd:extension base="sp:FactionMembership">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Religous">
    <xsd:complexContent>
      <xsd:extension base="sp:FactionMembership">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Activity" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="sp:ComplexType">
        <xsd:sequence>
          <xsd:element name="active" type="sp:Boolean"/>
          <xsd:element name="start" type="sp:Timestamp"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ActorLessActivity" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="sp:Activity">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ActorBasedActivity" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="sp:Activity">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Order" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="sp:ActorBasedActivity">
        <xsd:sequence>
          <xsd:element name="carriedOut" type="sp:Boolean"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GoToOrder">
    <xsd:complexContent>
      <xsd:extension base="sp:Order">
        <xsd:sequence>
          <xsd:element name="location" type="sp:Shape"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AreaOrder" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="sp:Order">
        <xsd:sequence>
          <xsd:element name="end" type="sp:Timestamp"/>
          <xsd:element name="target" type="sp:EthnicFactionReference" minOccurs="0"/>
          <xsd:element name="location" type="sp:Shape" minOccurs="0"/>
          <xsd:element name="foodDays" type="sp:Double" minOccurs="0"/>
          <xsd:element name="waterDays" type="sp:Double" minOccurs="0"/>
          <xsd:element name="fractionNoMedical" type="sp:Double" minOccurs="0"/>
          <xsd:element name="fractionInfected" type="sp:Double" minOccurs="0"/>
          <xsd:element name="fractionRecovered" type="sp:Double" minOccurs="0"/>
          <xsd:element name="displaced" type="sp:Double" minOccurs="0"/>
          <xsd:element name="protected" type="sp:Double" minOccurs="0"/>
          <xsd:element name="sheltered" type="sp:Double" minOccurs="0"/>
          <xsd:element name="perceivedThreat" type="sp:Double" minOccurs="0"/>
          <xsd:element name="ethnicTension" type="sp:Double" minOccurs="0"/>
          <xsd:element name="violence" type="sp:Double" minOccurs="0"/>
          <xsd:element name="fractionCrimeVictims" type="sp:Double" minOccurs="0"/>
          <xsd:element name="disaffection" type="sp:Double" minOccurs="0"/>
          <xsd:element name="fractionNoWork" type="sp:Double" minOccurs="0"/>
          <xsd:element name="infrastructure" type="sp:Double" minOccurs="0"/>
          <xsd:element name="insurgents" type="sp:Double" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AmbushOrder">
    <xsd:complexContent>
      <xsd:extension base="sp:Order">
        <xsd:sequence>
          <xsd:element name="end" type="sp:Timestamp"/>
          <xsd:element name="location" type="sp:Shape" minOccurs="0"/>
          <xsd:element name="startAmbush" type="sp:Timestamp"/>
          <xsd:element name="endAmbush" type="sp:Timestamp"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TerroristAttackOrder">
    <xsd:complexContent>
      <xsd:extension base="sp:AreaOrder">
        <xsd:sequence>
          <xsd:element name="actionTime" type="sp:Timestamp"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PresenceOrder">
    <xsd:complexContent>
      <xsd:extension base="sp:AreaOrder">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ControlOrder">
    <xsd:complexContent>
      <xsd:extension base="sp:AreaOrder">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SecureOrder">
    <xsd:complexContent>
      <xsd:extension base="sp:AreaOrder">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FreedomOfMovementOrder">
    <xsd:complexContent>
      <xsd:extension base="sp:AreaOrder">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AttackOrder">
    <xsd:complexContent>
      <xsd:extension base="sp:Order">
        <xsd:sequence>
          <xsd:element name="location" type="sp:Shape"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DefendOrder">
    <xsd:complexContent>
      <xsd:extension base="sp:Order">
        <xsd:sequence>
          <xsd:element name="location" type="sp:Shape" minOccurs="0"/>
          <xsd:element name="end" type="sp:Timestamp"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ProvideCivilianFunctionsOrder">
    <xsd:complexContent>
      <xsd:extension base="sp:AreaOrder">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustomAreaOrder">
    <xsd:complexContent>
      <xsd:extension base="sp:AreaOrder">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustomPVModification">
    <xsd:complexContent>
      <xsd:extension base="sp:ActorLessActivity">
        <xsd:sequence>
          <xsd:element name="end" type="sp:Timestamp"/>
          <xsd:element name="target" type="sp:EthnicFactionReference" minOccurs="0"/>
          <xsd:element name="location" type="sp:Shape"/>
          <xsd:element name="foodDays" type="sp:Double" minOccurs="0"/>
          <xsd:element name="waterDays" type="sp:Double" minOccurs="0"/>
          <xsd:element name="fractionNoMedical" type="sp:Double" minOccurs="0"/>
          <xsd:element name="fractionInfected" type="sp:Double" minOccurs="0"/>
          <xsd:element name="fractionRecovered" type="sp:Double" minOccurs="0"/>
          <xsd:element name="displaced" type="sp:Double" minOccurs="0"/>
          <xsd:element name="protected" type="sp:Double" minOccurs="0"/>
          <xsd:element name="sheltered" type="sp:Double" minOccurs="0"/>
          <xsd:element name="perceivedThreat" type="sp:Double" minOccurs="0"/>
          <xsd:element name="ethnicTension" type="sp:Double" minOccurs="0"/>
          <xsd:element name="violence" type="sp:Double" minOccurs="0"/>
          <xsd:element name="fractionCrimeVictims" type="sp:Double" minOccurs="0"/>
          <xsd:element name="disaffection" type="sp:Double" minOccurs="0"/>
          <xsd:element name="fractionNoWork" type="sp:Double" minOccurs="0"/>
          <xsd:element name="infrastructure" type="sp:Double" minOccurs="0"/>
          <xsd:element name="insurgents" type="sp:Double" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Timestamp">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        This element contains a timestamp in UTC format e.g. the number of
        seconds since 1:st jan 1970 00:00:00
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="sp:SimpleType">
        <xsd:sequence>
          <xsd:element name="value" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:simpleType name="Fraction">
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="1"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Percent">
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="100"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Positive">
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="Element" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="sp:ComplexType">
        <xsd:sequence>
          <xsd:element name="present" type="sp:Boolean"/>
          <xsd:element name="activities" type="sp:ActorBasedActivity" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="location" type="sp:Shape"/>
          <xsd:element name="deployment" type="sp:Distribution"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Population">
    <xsd:complexContent>
      <xsd:extension base="sp:Element">
        <xsd:sequence>
          <xsd:element name="ethnicGroups" type="sp:PopulationGroup" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PopulationGroup">
    <xsd:complexContent>
      <xsd:extension base="sp:ComplexType">
        <xsd:sequence>
          <xsd:element name="ethnicity" type="sp:EthnicFactionReference" minOccurs="0"/>
          <xsd:element name="inhabitants" type="sp:Double"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AgencyTeam" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="sp:Element">
        <xsd:sequence>
          <xsd:element name="capacityPPD" type="sp:Double"/>
          <xsd:element name="responseTimeSecs" type="sp:Double"/>
          <xsd:element name="violenceThreshold" type="sp:Double" minOccurs="0"/>
          <xsd:element name="deployTime" type="sp:Timestamp" minOccurs="0"/>
          <xsd:element name="departTime" type="sp:Timestamp" minOccurs="0"/>
          <xsd:element name="ownInitiative" type="sp:Boolean" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FoodAgencyTeam">
    <xsd:complexContent>
      <xsd:extension base="sp:AgencyTeam">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="WaterAgencyTeam">
    <xsd:complexContent>
      <xsd:extension base="sp:AgencyTeam">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ShelterAgencyTeam">
    <xsd:complexContent>
      <xsd:extension base="sp:AgencyTeam">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="HealthAgencyTeam">
    <xsd:complexContent>
      <xsd:extension base="sp:AgencyTeam">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PoliceAgencyTeam">
    <xsd:complexContent>
      <xsd:extension base="sp:AgencyTeam">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustomAgencyTeam">
    <xsd:complexContent>
      <xsd:extension base="sp:AgencyTeam">
        <xsd:sequence>
          <xsd:element name="target" type="sp:EthnicFactionReference" minOccurs="0"/>
          <xsd:element name="foodDays" type="sp:Double" minOccurs="0"/>
          <xsd:element name="waterDays" type="sp:Double" minOccurs="0"/>
          <xsd:element name="fractionNoMedical" type="sp:Double" minOccurs="0"/>
          <xsd:element name="fractionInfected" type="sp:Double" minOccurs="0"/>
          <xsd:element name="fractionRecovered" type="sp:Double" minOccurs="0"/>
          <xsd:element name="displaced" type="sp:Double" minOccurs="0"/>
          <xsd:element name="protected" type="sp:Double" minOccurs="0"/>
          <xsd:element name="sheltered" type="sp:Double" minOccurs="0"/>
          <xsd:element name="perceivedThreat" type="sp:Double" minOccurs="0"/>
          <xsd:element name="ethnicTension" type="sp:Double" minOccurs="0"/>
          <xsd:element name="violence" type="sp:Double" minOccurs="0"/>
          <xsd:element name="fractionCrimeVictims" type="sp:Double" minOccurs="0"/>
          <xsd:element name="disaffection" type="sp:Double" minOccurs="0"/>
          <xsd:element name="fractionNoWork" type="sp:Double" minOccurs="0"/>
          <xsd:element name="infrastructure" type="sp:Double" minOccurs="0"/>
          <xsd:element name="insurgents" type="sp:Double" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Unit" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="sp:Element">
        <xsd:sequence>
          <xsd:element name="inventory" type="sp:Equipment" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="MilitaryUnit">
    <xsd:complexContent>
      <xsd:extension base="sp:Unit">
        <xsd:sequence>
          <xsd:element name="symbolIDCode" type="sp:SymbolIDCode"/>
          <xsd:element name="affiliation" type="sp:FactionReference"/>
          <xsd:element name="personnel" type="sp:NonNegativeInteger"/>
          <xsd:element name="casualties" type="sp:NonNegativeInteger"/>
          <xsd:element name="strengthFactor" type="sp:Double"/>
          <xsd:element name="attackFactor" type="sp:Double"/>
          <xsd:element name="defenseFactor" type="sp:Double"/>
          <xsd:element name="maxVelocity" type="sp:Double"/>
          <xsd:element name="deployTime" type="sp:Timestamp"/>
          <xsd:element name="departTime" type="sp:Timestamp"/>
          <xsd:element name="WithdrawThreshold" type="sp:Double"/>
          <xsd:element name="subunits" type="sp:MilitaryUnit" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SymbolIDCode">
    <xsd:complexContent>
      <xsd:extension base="sp:SimpleType">
        <xsd:sequence>
          <xsd:element name="value" type="sp:String"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Equipment" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="sp:ComplexType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Distribution" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="sp:ComplexType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UniformDistribution">
    <xsd:complexContent>
      <xsd:extension base="sp:Distribution">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="RandomUniformDistribution">
    <xsd:complexContent>
      <xsd:extension base="sp:Distribution">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NormalDistribution">
    <xsd:complexContent>
      <xsd:extension base="sp:Distribution">
        <xsd:sequence>
          <xsd:element name="sigmaMeters" type="sp:Double"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StratmasCityDistribution">
    <xsd:complexContent>
      <xsd:extension base="sp:Distribution">
        <xsd:sequence>
          <xsd:element name="sigmaMeters" type="sp:Double"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ValueType" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="sp:Identifiable">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NonNegativeInteger">
    <xsd:complexContent>
      <xsd:extension base="sp:SimpleType">
        <xsd:sequence>
          <xsd:element name="value" type="xsd:unsignedLong"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Duration">
    <xsd:complexContent>
      <xsd:extension base="sp:SimpleType">
        <xsd:sequence>
          <xsd:element name="value" type="xsd:long"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Double">
    <xsd:complexContent>
      <xsd:extension base="sp:SimpleType">
        <xsd:sequence>
          <xsd:element name="value" type="xsd:double"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="String">
    <xsd:complexContent>
      <xsd:extension base="sp:SimpleType">
        <xsd:sequence>
          <xsd:element name="value" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Boolean">
    <xsd:complexContent>
      <xsd:extension base="sp:SimpleType">
        <xsd:sequence>
          <xsd:element name="value" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Faction" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="sp:ComplexType">
        <xsd:sequence>
          <xsd:element name="enemies" type="sp:FactionReference" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FactionRelation">
    <xsd:complexContent>
      <xsd:extension base="sp:ComplexType">
        <xsd:sequence>
          <xsd:element name="faction" type="sp:FactionReference"/>
          <xsd:element name="stance" type="sp:Double"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="EthnicFaction">
    <xsd:complexContent>
      <xsd:extension base="sp:Faction">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="MilitaryFaction">
    <xsd:complexContent>
      <xsd:extension base="sp:Faction">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:simpleType name="Identifier">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[^&#xA;&#x9;&#xD;]*"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="Identifiable" abstract="true">
    <xsd:attribute name="identifier" type="sp:Identifier" default=""/>
    <xsd:attribute ref="xml:base"/>
  </xsd:complexType>

  <xsd:complexType name="SimpleType" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="sp:ValueType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ComplexType">
    <xsd:complexContent>
      <xsd:extension base="sp:Identifiable">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Reference">
    <xsd:complexContent>
      <xsd:extension base="sp:SimpleType">
        <xsd:sequence>
          <xsd:element name="name" type="sp:Identifier"/>
          <xsd:element name="scope" type="sp:Reference" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FactionReference">
    <xsd:complexContent>
      <xsd:extension base="sp:Reference">
        <xsd:attribute name="target" type="xsd:string" fixed="Faction"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="EthnicFactionReference">
    <xsd:complexContent>
      <xsd:extension base="sp:Reference">
        <xsd:attribute name="target" type="xsd:string" fixed="EthnicFaction"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NodeReference">
    <xsd:complexContent>
      <xsd:extension base="sp:Reference">
        <xsd:attribute name="target" type="xsd:string" fixed="Node"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Graph" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="sp:ComplexType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="EffectGraph">
    <xsd:complexContent>
      <xsd:extension base="sp:Graph">
        <xsd:sequence>
          <xsd:element name="nodes" type="sp:EffectNode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="edges" type="sp:EffectEdge" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="nodeConnected" type="sp:Effect" minOccurs="0"/>
          <xsd:element name="nodeDisconnected" type="sp:Effect" minOccurs="0"/>
          <xsd:element name="edgeConnected" type="sp:Effect" minOccurs="0"/>
          <xsd:element name="edgeDisconnected" type="sp:Effect" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PathGraph">
    <xsd:complexContent>
      <xsd:extension base="sp:Graph">
        <xsd:sequence>
          <xsd:element name="nodes" type="sp:PathNode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="edges" type="sp:PathEdge" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Effect">
    <xsd:complexContent>
      <xsd:extension base="sp:ComplexType">
        <xsd:sequence>
          <xsd:element name="continuous" type="xsd:boolean"/>
          <xsd:element name="radius" type="sp:Double"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Node" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="sp:ComplexType">
        <xsd:sequence>
          <xsd:element name="point" type="sp:Point"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="EffectNode">
    <xsd:complexContent>
      <xsd:extension base="sp:Node">
        <xsd:sequence>
          <xsd:element name="power" type="sp:Double"/>
          <xsd:element name="connected" type="sp:Effect" minOccurs="0"/>
          <xsd:element name="disconnected" type="sp:Effect" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PathNode">
    <xsd:complexContent>
      <xsd:extension base="sp:Node">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Edge" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="sp:ComplexType">
        <xsd:sequence>
          <xsd:element name="origin" type="sp:NodeReference"/>
          <xsd:element name="target" type="sp:NodeReference"/>
          <xsd:element name="isConnected" type="sp:Boolean"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="EffectEdge">
    <xsd:complexContent>
      <xsd:extension base="sp:Edge">
        <xsd:sequence>
          <xsd:element name="connected" type="sp:Effect"/>
          <xsd:element name="disconnected " type="sp:Effect"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PathEdge">
    <xsd:complexContent>
      <xsd:extension base="sp:Edge">
        <xsd:sequence>
          <xsd:element name="travelSpeed" type="sp:Double"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

</xsd:schema>

